@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Inventory tracking web application built for the Fall 2022 - Shopify
        Developer Intern Challenge Question
    </p>
    <a href="https://github.com/Sami-I/Shopify-Developer-Intern-Challenge-2022">GitHub repo Link</a>
</div>

